POSTGRES_VERSION=16
POSTGRES_CONTAINER_NAME=pg-primary
POSTGRES_PORT=5432
POSTGRES_DB=app_db
POSTGRES_USER=app_user
POSTGRES_PASSWORD=change_me_now
TZ=Asia/Bangkok

BACKUP_LOCAL_DIR=./backups/local
BACKUP_FILENAME_PREFIX=primary
BACKUP_KEEP_LOCAL_DAYS=2
BACKUP_KEEP_REMOTE_DAYS=14

BACKUP_REMOTE_HOST=10.10.10.20
BACKUP_REMOTE_PORT=22
BACKUP_REMOTE_USER=backupuser
BACKUP_REMOTE_DIR=/srv/postgres-backups/primary
BACKUP_SSH_KEY=./ssh/backup_ed25519
