[Unit]
Description=Run PostgreSQL backup periodically

[Timer]
OnCalendar=hourly
Persistent=true
Unit=postgres-backup.service

[Install]
WantedBy=timers.target
