[Unit]
Description=Run PostgreSQL backup periodically

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true
Unit=postgres-backup.service

[Install]
WantedBy=timers.target
